body {
    background-color: skyblue;
    color: darkblue;
}

section {
    border: 4px solid grey;
    background-color: white;
    margin: 8px;
    padding: 10px 20px;
}

blockquote {
    color: black;
    border-left: none;
}

.portrait {
    width: 80%;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

.timeline-img {
    width: 100%;
}